body, ul, h2, p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

body {
  background-color: #222;
  color: #999;
}


.aboutme{
  padding: 0;
  width: 680px;
  height: 50px;
  margin-left: 100px;
  margin-top: 30px;
}

.intro {
  padding: 0;
  width: 600px;
  height: 100px;
  margin-left: 100px;
  margin-top: 0;
}

.wrapper {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}


.page {
  display: flex;
  justify-content: center;
  align-items: center; /*안에 있는 page-item을 반대축 기준 가운데 정렬*/
}

.page-item {
  flex-basis: 100px; /*늘이고 줄일 때 비율 알아서 맞춰줌*/
  flex-shrink: 0; /*mouse hover 했을 때 다른 애들 사이즈가 자동으로 줄어드는 거 방지*/
  margin: 0 10px; /*상하단 margin 0, 좌우 margin 10px*/
  transition : all .4s; /*transition: 애니메이션 효과, 0.4초*/
}


/*hover: 마우스 올려놨을 때 효과*/
.page-item:hover { /*:hover 쓸 때 띄어쓰기 하면 안 됨*/
  flex-basis: 150px; /*마우스 올려놨을 때 크기 커짐*/
  margin: 0 20px; /*마우스 올려놨을 때 좌우 margin 더 커짐*/
}

.page-item img {
  width: 100%; /*img들이 page-item의 크기인 100px의 100%를 채움*/
}

.profile {
  background-color: #333;
  position: relative;
  /*static이 아닌 부모; 즉 profile을 기준으로 profile-contents가 움직임*/
  overflow: hidden; /*넘치는 부분은 안 보이게 숨겨줌, 여기서는 텍스트들이 숨음*/
}


.profile:before {
  content: ' ';
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.95) 100%);
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f2000000',GradientType=0 );
  position: absolute;
  left: 0;
  right:0;
  bottom: 0;
  height: 150px;
}


.profile_first {
  color: lightgreen;
}
.profile_second {
  color: beige;
}
.profile_third {
  color: orange;
}
.profile_fourth {
  color: pink;
}
.profile_fifth {
  color: lightgrey;
}

.profile-contents {
  position: absolute; /*전체 페이지 기준으로 위치 설정함*/
  /*absolute는 static이 아닌 부모를 기준으로 움직임 */
  left: 0;
  bottom: 5px;
  /*결과적으로 profile의 맨 왼쪽 맨 아래에*/
}

.profile-contents h2 {
  font-size: 20px;
}

.profile-contents h2 span {
  display: block; /*블럭이 됨 -> 한 줄 전부 차지 -> 한 줄 아래로*/
  font-size: 12px;
}

.profile-contents p {
  color: white; /*부모인 profile 색깔을 상속받지 않음. 자식이 덮어 씌움*/
  font-size: 10px;
  min-width: 150px; /*텍스트가 들어갈 텍스트박스의 최소 사이즈*/
  max-height: 0; /*최대 높이가 0이라서 지금은 안 보임*/
  overflow: hidden;
  line-height: 1.2;
  transition: all .4s;
  opacity: 0;
  transition-delay: .2s;
}

.page-item:hover .profile-contents p {
  opacity: 1;
  max-height: 6em;
  margin-top: 0.2em;
}

.outro {
  padding: 0;
  width: 680px;
  height: 100px;
  margin-left: 100px;
  margin-top: 0;
  margin-right: 100px;
}
